/* About */

.about-card {
    background: #F6EEE3;
    /* background: linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 70%); */
    /* background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%); */
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 2em;
    border-radius: 20px;
    height: fit-content;
    width: fit-content;
    min-width: 300px;
    margin: 0 0.5em 4em;
    text-align: left;
    box-sizing: border-box;
}

/* About Card Font */

h1.about-title{
    font-size: 4em;
    font-weight: 600;
    color: #ea580c;
    background-color: #ffedd5;
    border: 5px solid #fed7aa;
    border-radius: .6em;
    padding: 0 .5em;
    margin: 0.4em auto;
}

.about-card h2 {
    font-size: 4em;
    /* color: white; */
}

.about-card p {
    font-size: 1em;
    /* color: white; */
}

.about-card img {
    padding: 0 3px;
}