/*Header*/

header {
    color: black;
    min-height: 3.8rem;
    background: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    padding: 1em 3em 1em 3em;
    font-size: 0.6em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self: center;
    user-select: none;
    width: 100%;
}

.header-container-left {
    display: flex;
    align-items: center;
}

.header-container-right {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

/* Logo */

header .logo {
    width: 100%;
    max-width: 50px;
    min-width: 35px;
    height: auto;
    margin-right: 10px;
}

header .logo:hover {
    filter: drop-shadow(0 0 1em #b9a6a6);
    animation-name: spin;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (hover: none),(pointer: coarse) {

    /* Smartphones and touchscreens */
    header .logo:hover {
        filter: none;
        animation: none;
    }
}


/* Title */

header h1 {
    display: flex;
    align-items: center;
    color: rgb(16, 108, 220);
    transition: margin-right 2s, color 1s;
    text-decoration: none;
}

header h1:hover {
    filter: drop-shadow(0 0 1em #b9a6a6);
    animation-name: bounce-blink;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
}

@media (hover: none), (pointer: coarse) {

    /* Smartphones and touchscreens */
    header h1:hover {
        filter: none;
        animation: none;
    }
}


header .impact {
    background: linear-gradient(90deg, hsla(216, 100%, 55%, 1) 0%, hsla(202, 67%, 62%, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes bounce-blink {
    20% {
        transform: translateY(-30px);
    }

    35% {
        background: linear-gradient(90deg, hsla(216, 100%, 55%, 1) 0%, hsla(202, 67%, 62%, 1) 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        transform: translateY(10px);
    }

    50% {
        transform: translateY(-8px);
    }

    58% {
        transform: translateY(5px);
    }

    70% {
        transform: translateY(-5px);
    }

    80% {
        transform: translateY(0px);
    }

    90% {
        transform: translateY(-3px);
    }

    100% {

        background: linear-gradient(90deg, hsla(216, 100%, 55%, 1) 0%, hsla(202, 67%, 62%, 1) 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        transform: translateY(0px);
    }
}

/* Nav bar */

nav {
    display: flex;
    flex-direction: column;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav li {
    width: 12em;
    height:2em
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 1.7em;
    font-weight: 500;
    transition: all 0.25s;
}

nav a:hover {
    font-weight: 700;
    font-size: 2em;
    background: linear-gradient(90deg, hsla(216, 100%, 55%, 1) 0%, hsla(202, 67%, 62%, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 0 1em #b9a6a6);
}

.burger-menu {
    display: none;
    cursor: pointer;
    user-select: none;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    border-radius: 5px;
    transition: transform 0.25s ease-in-out;
}

.bar-middle {
    width: 15px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    border-radius: 5px;
    transition: transform 0.25s ease-in-out;
}

@media (max-width: 768px) {
    .burger-menu {
        display: block;
        /* sets the middle bar to the right  */
        transform: scaleX(-1);
    }

    .bar.open {
        transform: rotate(45deg);
        transition: transform 0.25s ease-in-out;
    }

    .bar-middle.open {
        transform: scaleX(2);
        transform: translateX(5px);
        transition: transform 0.25s ease-in-out;
    }

    .nav-menu {
        z-index: 1;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 0;
        width: 7rem;
        height: 14rem;
        background: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        visibility: hidden;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .nav-menu.open {
        display: flex;
        visibility: visible;
    }

    nav a {
        padding: 20px 16px;
        transition: all 0s;
    }

    .nav-menu ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
    }

    .nav-menu li {
        margin: 15px 0;
        font-size: 1em;
    }
}